
<div class="edge">
  <div class="box">
    <h1> About Me </h1>
    <img src="/assets/AlexFace.jpeg" alt="Avatar">
  </div>
  <span *ngIf="!this.isMobile;else mobileBlurb">
    <div class="blurb">
      <p>
        Hi!!!
      </p>
      <p>
        I’m Alex! My family and I am from Baltimore, Maryland. My fiancé and I have two boys, and a lab pup! I love going to the beach, playing with my kids, and pizza!!!
      </p>
      <p>
        Before creating my own business, I was a dental assistant at a pediatric dental office. I loved being a dental assistant and bonding with my patients, however, with COVID we unfortunately had to shut our office down. Schools closed for just over a year. Everything was a disaster for us, as I’m sure it was for everyone at the beginning of this. Crafting was just a weekend hobby of mine. My fiancé and I decided that being able to stay home with the kids was more important during this crazy time so I decided to start my own small business and now we are here.
      </p>
      <p>
        My ultimate goal is to ensure my customers receive high quality and personable service and items. My family and I are so grateful for the support from our amazing customers.
      </p>
      <p>
        We appreciate the out pouring of love and support that we receive!!
      <p>
        Alexzandrea Wood
      </p>
      <p>
        Owner, Busy Bee Boutique
      </p>

    </div>
  </span>
  <ng-template #mobileBlurb>
    <div class="mobileBlurb">
      <p>
        Hi!!!
      </p>
      <p>
        I’m Alex! My family and I am from Baltimore, Maryland. My fiancé and I have two boys, and a lab pup! I love going to the beach, playing with my kids, and pizza!!!
      </p>
      <p>
        Before creating my own business, I was a dental assistant at a pediatric dental office. I loved being a dental assistant and bonding with my patients, however, with COVID we unfortunately had to shut our office down. Schools closed for just over a year. Everything was a disaster for us, as I’m sure it was for everyone at the beginning of this. Crafting was just a weekend hobby of mine. My fiancé and I decided that being able to stay home with the kids was more important during this crazy time so I decided to start my own small business and now we are here.
      </p>
      <p>
        My ultimate goal is to ensure my customers receive high quality and personable service and items. My family and I are so grateful for the support from our amazing customers.
      </p>
      <p>
        We appreciate the out pouring of love and support that we receive!!
      <p>
        Alexzandrea Wood
      </p>
      <p>
        Owner, Busy Bee Boutique
      </p>
    </div>
  </ng-template>

</div>

