
.edge {
  margin: auto;
  margin-top: 5%;
  width: 70%;
  text-align: left;
 }
 img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}
h1 {
  font-family: Bradley Hand, cursive;
  font-size: xx-large;
}
.blurb {
  font: 'San Francisco', Helvetica, Arial, san-serif;
  margin-left: 5%;
}
 .box {
  display: flex;
  align-items: center;
}
