
<div class="edge">
  <div class="box">
    <h1> About Me </h1>
    <img src="/assets/AlexFace.jpeg" alt="Avatar">
  </div>
  <div class="blurb">
    <p>
      I started this buisness as a way to help support my family, after I had recieved my degree to become a Dental Assistant I quickly found out that even with
      my recently aquired degree my sons day care was costing the same as I was making. I decided that time with my son is more important than barely affording to send him
      to day care, I become an at home mom and took my hobby of creating these unique tumblers and turned it into a buisness. Now I take care of home with my two boys and my Fiancé while
      running my own side buisness of creating custom and personlaized items for my wonderful customers!
    </p>
  </div>
</div>

