<script src="./angular-formspree.js"></script>
<form class="example-form" action="https://formspree.io/xqkbwypj" method="POST" id="emailForm">

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" name="_replyto" matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Text</mat-label>
      <textarea matInput name="message" placeholder="You are an amazing company"></textarea>
    </mat-form-field>
  </p>
  <input mat-raised-button type="submit" form="emailForm" value="Submit"/>
</form>

