<div style="width: 600px; margin: auto; margin-top: 10%;">
  <div class="fb-page" data-href="https://www.facebook.com/BusyBeeBoutique019" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/BusyBeeBoutique019" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/BusyBeeBoutique019">Facebook</a>
    </blockquote>
  </div>
</div>
