<!--<div class="space">
  <mat-grid-list cols="4" gutterSize="1%" style="flex: 1 0 auto;">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        <img src="{{tile.text}}" class="tile-image" alt="image caption" layout-fill/>
    </mat-grid-tile>
  </mat-grid-list>
</div>
-->
<div class="mall-slide">
  <div class="slid-content">
      <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
          <img src="{{item}}" style="display:flex; margin:auto; max-width:100%;max-height:100%; height: auto; vertical-align: middle;">
      </div>
      <div class="mall-carousel-ind">
          <ul>
              <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
          </ul>
      </div>
  </div>
</div>


